<!doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
    body {
    background: skyblue;
    font-family: verdana;
    color: #fff;
    padding: 30px;
}
h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
p, li {
    font-size: 16px;
    text-align: center;
}
</style>

</head>
<body>
    <h1>Welcome the profile of <%= person %></h1>
    <p><strong>Age: <%= data.age %></strong></p>
    <p><strong>Job: <%= data.job %></strong></p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach((item) => { %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</body>
</html>